.ci-status {
  padding: 2px 7px 4px;
  color: #eee;
  border: 1px solid #eee;
  white-space: nowrap;
  border-radius: 4px;
  margin-right: 8px;
  transition: background-color 100ms linear, color 100ms linear, border 100ms linear;

  &.ci-success {
    color: #1aaa55;
    border-color: #1aaa55;

    &:not(span):hover {
      background-color: #dcf5e7;
    }
  }

  &.ci-pending {
    color: #fc9403;
    border-color: #fc9403;

    &:not(span):hover {
      background-color: #fff1de;
    }
  }

  &.ci-failed {
    color: #db3b21;
    border-color: #db3b21;

    &:not(span):hover {
      background-color: #fbe5e1;
    }
  }

  &.ci-running {
    color: #1f78d1;
    border-color: #1f78d1;

    &:not(span):hover {
      background-color: #e4f0fb;
    }
  }

  &.ci-skipped {
    color: #707070;
    border-color: #707070;

    &:not(span):hover {
      background-color: rgba(112, 112, 112, 0.07);
    }
  }

  img {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: visible;
  }
}

.ci-id {
  color: #999;
  margin-right: 5px;
  border-right: 1px solid #ddd;
  padding-right: 5px;
  font-family: monospace;
}

.ci-title {
  font-weight: 500;
}

.ci-duration, .ci-started {
  float: right;
  color: #707070;
  margin-bottom: 0;
  margin-left: 10px;
  white-space: nowrap;

  img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    vertical-align: bottom;
  }
}
